{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "requirePragma": false,
  "jsxBracketSameLine": true,
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "arrowParens": "always"
}
